# Reverb (WebSockets)
# VITE_REVERB_HOST: en local "localhost", en producción tu dominio sin protocolo
# VITE_REVERB_SCHEME: "http" en local, "https" en producción
VITE_REVERB_APP_KEY=       # Debe coincidir con REVERB_APP_KEY del backend
VITE_REVERB_HOST="localhost"
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME="http"