{
    log {
        level ERROR
    }
    frankenphp
}

:80 {
    root * /var/www/html/public
    php_server

    # Pasar la información real de la IP y el protocolo a Laravel
    header {
        X-Forwarded-Proto {http.request.scheme}
        X-Forwarded-For {http.request.remote.host}
    }
}

ws.chaosinc.monolook.dev {
    reverse_proxy reverb:8080
}