{
    log {
        level ERROR
    }
    frankenphp
}

:80 {
    root * /var/www/html/public
    php_server

    header {
        X-Forwarded-Proto {http.request.scheme}
        X-Forwarded-For {http.request.remote.host}
    }

    log {
        format filter {
            wrap console
            fields {
                request>headers delete
                resp_headers delete
                request>remote_port delete
                request>client_ip delete
                user_id delete
                bytes_read delete
            }
        }
    }
}